#################################### Server ####################################
[server]
protocol = {{ GRAFANA_PROTOCOL }}
http_port = {{ GRAFANA_PORT }}

#################################### Analytics ####################################
[database]
type = {{ GRAFANA_DB_TYPE }}
host = {{ GRAFANA_DB_HOST }}:{{ GRAFANA_DB_PORT }}
name = {{ GRAFANA_DB_DATABASE }}
user = {{ GRAFANA_DB_USER }}
password = {{ GRAFANA_DB_PASS }}

#################################### Analytics ####################################
[analytics]
reporting_enabled = false
check_for_updates = false
check_for_plugin_updates = false

#################################### Security ####################################
[security]
admin_user = {{ GRAFANA_ADMIN_USER }}
admin_password = {{ GRAFANA_ADMIN_PASS }}
admin_email = {{ GRAFANA_ADMIN_EMAIL }}

#################################### Users ###############################
[users]
allow_sign_up = false
allow_org_create =false