groups:
{% for group in PROMETHEUS_RULES %}
  - name: {{ group.group }}
    rules:
{% for rule in group.rules %}
      - alert: {{ rule.alert }}
        expr: {{ rule.condition }}
        for: {{ rule.duration }}
        labels:
          severity: {{ rule.severity }}
{% for label in rule.labels %}
          {{ label.key }}: {{ label.value }}
{% endfor %}
        annotations:
          description: {{ rule.description }}
{% for annotation in rule.annotations %}
          {{ annotation.key }}: {{ annotation.value }}
{% endfor %}
{% endfor %}
{% endfor %}